body {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #1a1b4b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 700px;
    max-height: 350px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 16px 6px rgba(0, 0, 0, 0.5);
}

h1,
h2 {
    color: #f7a400;
    text-shadow: 1px 1px 2px #000000;
}

input {
    width: 450px;
    height: 30px;
    margin-bottom: 30px;
}

button {
    font-size: 18px;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
    background-color: #3e4491;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: whitesmoke;
    color: #3e4491;
    border: 1px solid #3e4491;
}

button:active {
    background-color: whitesmoke;
    color: #3e4491;
    border: 1px solid #3e4491;
}

p {
    color: #3e4491;
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
}

.vazio {
    background-color: rgba(221, 8, 221, 0.185);
    width: 400px;
    display: flex;
    justify-content: center;
    color: rgb(218, 11, 11);
    font-weight: bold;
    padding: 5px;
    border: 1px solid rgba(255, 0, 0, 0.726);
    border-radius: 5px;
    margin-top: 20px;
    display: none;

}

@media(max-width:450px) {
    .box {
        width: 320px;
        max-height: 350px;
    }

    input {
        width: 250px;
        height: 30px;
        margin-bottom: 30px;
    }

    h1,
    h2 {
        font-size: 16px;
    }

    p {
        font-size: 18px;
    }
}