body {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(243, 102, 161);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 700px;
    max-height: 350px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 16px 6px rgba(0, 0, 0, 0.5);
}

h1,
h2 {
    color: rgb(218, 44, 189);
    text-shadow: 1px 1px 2px rgb(247, 0, 255);
}

input {
    width: 450px;
    height: 30px;
    margin-bottom: 30px;
}

button {
    font-size: 18px;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
    background-color: deeppink;
    outline: none;
    cursor: pointer;
}

button:hover {
    color: rgb(46, 33, 46);
}

button:active {
    border: 3px solid rgb(117, 24, 74);
    color: whitesmoke;
}

p {
    color: rgb(39, 41, 194);
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
}

.vazio {
    background-color: rgba(221, 8, 221, 0.185);
    width: 400px;
    display: flex;
    justify-content: center;
    color: rgb(218, 11, 11);
    font-weight: bold;
    padding: 5px;
    border: 1px solid rgba(255, 0, 0, 0.726);
    border-radius: 5px;
    margin-top: 20px;
    display: none;
}

@media(max-width:450px) {
    .box {
        width: 320px;
        max-height: 350px;
    }
    input {
        width: 250px;
        height: 30px;
        margin-bottom: 30px;
    }
    h1,
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 18px;
    }
}